<!DOCTYPE html>
  	<html lang="en">
	<head>
      	<meta charset="UTF-8">
      	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      	<title>E-Cell IARE</title>
	  	<link rel="stylesheet" href="/css/home.css">
	  	<script src="/js/menu.js" defer></script>
	  	<script src="/js/type-effect.js"></script>
		<link rel="icon" type="image/x-icon" href="/images/logo.ico">
		<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
		
  </head>
  <body>
  
  <div class="landing">
	<div class="navbar" id="myNavbar">
		<div class="branding">
			<a class="always" href="/"><img class="logo" src="/images/logo.ico" alt=""></a>
		</div>
		<div class="toggle-button">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>	
		</div>
		<div class="links" id="links">
			<ul class="link-content">
				<li><a href="#about">About Us</a></li>
				<li><a href="#startups">Startup Stories</a></li>
				<li><a href="/nec">NEC</a></li>
				<li><a href="#Blog">Blog</a></li>
			</ul>
				<!-- <a href="javascript:void(0);" class="icon always" onclick="toggleNavbar()">
				&#9776; 
				</a>
				<a href="#about">About Us</a>
				<a href="#services">Startup Stories</a>
				<a href="/nec">NEC</a>
				<a href="#Blog">Blog</a> -->
	
		</div>
	  </div>
	  <div class="welcome">
		<div class="container-fancy-text" data-aos="fade-down">
            <h1>E-Cell IARE</h1>
            <h2><span class="auto-type"></span></h2>
			<script src="/js/type-effect.js"></script>

	  </div>
  </div>
  
      
  
  </body>
  </html>
  
</body>
</html>