<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nec.css">
	<script src="/js/menu.js" defer></script>
	<script src="/js/type-effect.js"></script>
	<link rel="icon" type="image/x-icon" href="/images/logo.ico">
    <title>National Entrepreneurship Challenge</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbar" id="myNavbar">
        <div class="branding">
            <a class="always" href="/"><img class="logo" src="/images/logo.ico" alt=""></a>
        </div>
        <div class="toggle-button">
            <span class="bar" id="bar1"></span>
            <span class="bar" id="bar2"></span>
            <span class="bar" id="bar3"></span>
        </div>
        <div class="links" id="links">
            <ul class="link-content">
                <li><a class="link" href="/">Home<i class="fa-solid fa-angle-right fa-xs"></i></a></li>
                <li><a class="link" href="/gallery"> Gallery<i class="fa-solid fa-angle-right fa-xs"></i></a></li>
                <li><a class="link" href="/blog"> Blog<i class="fa-solid fa-angle-right fa-xs"></i></a></li>
            </ul>
        </div>
    </div>
    <hr>   
    <div class="nec-head">
        <h2>E-Cell IARE takes on NEC 2023!!</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati maiores ullam cum nisi voluptatum porro mollitia dicta voluptatibus voluptates, eum cupiditate sit quisquam unde dolorem beatae quis laudantium quas quasi eaque in. Cum, asperiores ipsam hic dolore odit atque assumenda non labore est temporibus amet sit accusantium iusto architecto modi numquam repellendus sequi aliquid cupiditate molestiae veniam. Provident, tempora aliquid minus sint maiores, perferendis incidunt tenetur delectus voluptatibus odio mollitia dolorum ex, veritatis ipsum illo!</p>
    </div>

    <div class="nec-head">
        <h2>What is NEC?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum velit quisquam laboriosam officia commodi enim magni praesentium ad ducimus, eius optio repellat vitae tempore atque corporis non labore numquam maiores ratione? Cupiditate molestias similique, qui iure quibusdam iste id vero praesentium. Necessitatibus et nostrum vitae quaerat officia, voluptatem maiores consequuntur!</p>
    </div>

    <div class="nec-head final-head">
        <h2>NEC Activites</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos ea aspernatur reiciendis asperiores illo nesciunt culpa voluptas autem velit blanditiis obcaecati praesentium aperiam molestias eum itaque rem optio saepe veritatis dolorum, tempore nulla iusto placeat. Blanditiis praesentium quaerat esse eligendi provident dolorem temporibus rerum officia aut iusto. Molestias, consequatur quibusdam.</p>
    </div>

    <h1 class="ot-title">Our Team</h1>
    <div class="our-team">
        
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-brands fa-lg fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-brands fa-lg fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram fa-lg" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin fa-lg" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
        <div class="member">
            <img src="/images/placeholder.jpg" alt="">
            <h3>test</h3>
            <p>President</p>
            <div class="ref">
                <a href="https://www.instagram.com/ecelliare/" target="_blank"><i class="fa-lg fa-brands fa-instagram" style="color: #19a275; background-color: #fff;"></i></a>
                <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank"><i class="fa-lg fa-brands fa-linkedin" target="_blank" style="color: #19a275; background-color: #fff;"></i></a>

            </div>
        </div>
    </div>




    <!--footer-->
    <div class="footer">
        <div class="footer-r1">
            <img src="/images/logo.ico" alt="">
            <div class="socials">
                <h3>Keep up with us on our Social Media</h3>
                <div class="icons">
                    <a href="https://www.instagram.com/ecelliare/" target="_blank" class="ig"><i class="fa-brands fa-instagram fa-2xl" style="color: #19a275;"></i></a>
                    <a href="https://www.linkedin.com/company/ecell-iare/" target="_blank" class="in"><i class="fa-brands fa-linkedin fa-2xl" target="_blank" style="color: #19a275;"></i></a>
                    <a href="https://twitter.com/ecell_iare" class="x" target="_blank"><i class="fa-brands fa-twitter fa-2xl" target="_blank" style="color: #19a275;"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-r2">
            <h3>Useful Links</h3>
            <div class="footer-links">
                <a href="/">Home</a>
                <a href="/gallery">Gallery</a>
                <a href="#about">About Us</a>
                <a href="/blog">Blog</a>
            </div>
        </div>
        <div class="footer-r3">
            <h3>Contact</h3>
            <div class="cont">
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Technology Innovation and Incubation Center, IARE, Dundigal, Hyderabad.</p>
                </div>
                <div class="mail">
                    <i class="fa-solid fa-envelope"></i>
                    <p> ecell@iare.ac.in</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">Copyright&copy 2023 E-Cell IARE</div>

</body>
</html>