* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: #1f363d;
}

body {
	background-color: #1f363d;
	color: #f1f1f1;
}

::-webkit-scrollbar {
	width: 0.4em;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
	background: #a6a6a6;
	border-radius: 1em;
  }
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	margin: 0 4em 0 2em;

}

hr {
	margin: 0 1em;
	background: #E2E1E1;
	opacity: 0.8;
}

.links ul {
	list-style: none;
	display: flex;
	padding-bottom: 0em;
	padding-top: 0.25em;
}

.link:hover {
	color: #ff9e1c;
}

.links li a {
	text-decoration: none;
	color: #19a275;
	padding: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

.links li a :hover {
	color: #1f363d;
}

.toggle-button {
	position: absolute;
	display: none;
	height: 2em;
	width: 2em;
}

.know-more {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 2em;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 2em auto;
	border: 2px solid #2E2F35;
	background: #FF6D2C;
	box-shadow: 4px 4px 0px 0px black;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #f1f1f1;
	font-weight: 800;
}

.know-more:hover {
	transform: scale(1.25);
	transition: 1s;
}

.know-more > span {
	background-color: inherit;
}

.logo {
	width: 5em;
	height: 5em;
}

.welcome {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.container-fancy-text {
	display: flex;
	flex-direction: column;
	padding-top: 9em;
	font-family: 'Montserrat', sans-serif;
}

.container-fancy-text>h1 {
	margin-bottom: 0;
	margin-top: 0;
	font-size: 5em;
	font-weight: 700;
}

.container-fancy-text>h2 {
	margin-bottom: 0;
	margin-top: 0.25em;
	font-weight: 500;
	font-size: 2.5em;
}

.auto-type {
	font-size: 0.75em;
	font-weight: 500;
}

.about {
	font-family: 'Montserrat', sans-serif;
}

.abt {
	text-align: center;
	font-weight: 800;
	margin-top: 10em;
}

.about>p {
	text-align: center;
	font-size: 1.25em;
	margin: 2em 10em;
}



.start-content {
	margin: 7em 3em 10em 5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 7em;
}

.seg2>img {
	margin-top: 2em;
	width: 90%;
	height: 90%;
	transform: rotate(-8deg);
	border-radius: 1em;
	border: groove 2px #1f363d;
}

.about .ital {
	color: #19a275;
	font-weight: 800;
	font-style: italic;
}

.startups {
	font-family: 'Montserrat', sans-serif;
	margin-top: 3em;
}

.startups h2 {
	text-align: center;
}

.r1, .r2 {
	display: flex;
	margin: 2em;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

.tile {
	height: 15em;
	width: 12em;
	background-color: #e0f8f2;
	text-align: center;
}

.tile img {
	height: 4em;
	width: fit-content;
	margin: 3em auto;
	background-color: inherit;
}

.tile > h4 {
	background-color: inherit;
	color: #1f363d;
}

.footer {
	padding-top: 3em;
	padding-bottom: 2em;
	background-color: #2e2f35;
	text-align: center;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1em;
}

.footer-r1 {
	width: 30%;
	display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: flex-start;
	background-color: #2e2f35;
}

.footer-r1 img {
	width: 40%;
	background-color: #2e2f35;
	height: 80%;
}

.socials h3 {
	margin: 1em;
	font-weight: 400;
	background-color: #2e2f35;
}

.socials {
	background-color: #2e2f35;
}

.icons {
	background-color: #2e2f35;
}

.ig, .x, .in {
	margin: 1em 1em;
	background-color: #2e2f35;
}

.footer-r2 {
	width: 30%;
	padding-top: 2em;
	display: flex;
    flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #2e2f35;
}

.footer-r2 h3 {
	font-weight: 600;
	background-color: #2e2f35;
}

.footer-links {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 2em;
	align-items:center;
	justify-content: center;
	gap: 1em;
	background-color: #2e2f35;
}

.footer-links a {
	text-align: start;
	text-decoration: none;
	color: #f1f1f1;
	background-color: #2e2f35;
}

.footer-links a :hover {
	color: #1f363d;
}

.footer-r3 {
	width: 30%;
	background-color: #2e2f35;
	padding-top: 2em;
}

.footer-r3 h3 {
	font-weight: 600;
	background-color: #2e2f35;
}

.location, .mail {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 2em;
	background-color: #2e2f35;
	color: #f1f1f1;
}

.footer-r3 i {
	background-color: #2e2f35;
	color: #f1f1f1;
}


.cont i {
	color: #f1f1f1;
	padding:  0 0.4em;
}

.cont {
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: end;
	background-color: #2e2f35;
}

.cont p {
	background-color: #2e2f35;
}

.copy {
	text-align: center;
	background-color: #2a2a2a;
	color: #19a275;
	padding: 0.5em 0;
	font-family:'Lucida Sans',  sans-serif;
}



@media screen and (max-width: 600px) {
	.toggle-button {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		top: 1.6em;
		right: 2em;
	}

	.toggle-button .bar {

		height: 0.3em;
		width: 100%;
		background-color: #19a275;
		border-radius: 0.1em;
	}

	hr {
		display: none;
	}

	.navbar {
		margin-left: 1em;
	}

	.links {
		/* display: none;
	width: 100%;*/
		overflow: hidden;
		/* Hide the element content, while height = 0 */
		height: 0;
		opacity: 0;
		transition: height 0ms 1000ms, opacity 1000ms 0ms;
	}

	.navbar {
		flex-direction: column;
		align-items: start;
		padding: 0 0em 0 1em;
		margin: 0;
	}

	.links ul {
		width: 100%;
		flex-direction: column;
		align-items: end;
		margin-right: 1em;
		gap: 1em;
	}

	.links li {
		text-align: end;
		color: #19a275;
		background-color: transparent;
	}

	.links li a {
		background-color: transparent;
		margin: 2em 0;
	}

	.links li :hover {
		color: #ff9e1c;
	}

	.links.active {
		display: flex;
		font-family: 'Montserrat', sans-serif;
		width: 100%;
		height: auto;
		opacity: 1;
		transition: height 0ms 2000ms, opacity 2000ms 0ms;
	}

	.navbar.active {
		transition: height 1000ms 1000ms, opacity 600ms 1000ms;
	}

	.bar.active1 {
		-webkit-transform: rotate(-45deg) translate(-22px, 8px);
		transform: rotate(-45deg) translate(-9px, 9px);
		transition: 1s;
	}

	.bar.active2 {
		opacity: 0;
	}

	.bar.active3 {
		-webkit-transform: rotate(45deg) translate(-20px, -112px);
		transform: rotate(45deg) translate(-10px, -10px);
		transition: 1s;
	}

	.bar.inactive1 {
		-webkit-transform: rotate(0deg) translate(0px, 0px);
		transform: rotate(0deg) translate(0px, 0px);
		transition: 1s;
	}

	.bar.inactive2 {
		opacity: 1;
		transition: 2s;
	}

	.bar.inactive3 {
		-webkit-transform: rotate(0deg) translate(0px, 0px);
		transform: rotate(0deg) translate(0px, 0px);
		transition: 1s;
	}

	.container-fancy-text {
		margin-top: 0;
		padding-top: 3em;
	}


	.container-fancy-text>h1 {
		margin-bottom: 0;
		font-size: 3em;
	}

	.container-fancy-text>h2 {
		margin-bottom: 0;
		margin-top: 0.25em;
		font-size: 1.5em;
	}

	.auto-type {
		font-size: 0.65em;
	}

	.auto-type>span {
		margin: 0;
		padding-top: 0;
	}

	.know-more {
		transform: scale(1);

	}

	.start-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0em 1em 1em 1em;
	}

	.seg2 {
		margin-bottom: 3em;
	}

	.seg2>img {
		margin: 0em 0em 2em 0em;
		
	}

	.seg2 {
		display: flex;
      justify-content: center;
	}

	.about {
		margin-top: 1em;
		margin-bottom: 2em;
	}

	.about h2 {
		margin-top: 1em;
	}

	.about p {
		margin: 1em 2em;
	}

	.r1, .r2 {
		flex-direction: column;
		margin: 1em 1em;
	}

	.r2 {
		margin: 3em;
	}

	.tile {
		width: 15em;
	}

	.startups h2 {
		margin: 3em;
	}

	.footer {
		padding-top: 1em;
		flex-direction: column;
		align-items: center;
		gap: 1em;
		background-color: #2e2f35;
	}

	.footer-r1, .footer-r2, .footer-r3 {
		width: 100%;
		background-color: #2e2f35;
	}

	.footer-r1 img {
		background-color: #2e2f35;
		width: 40%;
		height: 30%;
	}

	.footer-r2 h3 {
		background-color: #2e2f35;
	}

	.footer-r3 h3 {
		background-color: #2e2f35;
	}

	.cont {
		margin: 0 2em;
		color: #f1f1f1;
		background-color: #2e2f35;
	}

	.cont p {
		background-color: #2e2f35;
	}

	.cont i {
		color: #f1f1f1;
	}

	.footer-links {
		gap: 1em;
		background-color: #2e2f35;
	}

	.footer-links a {
		background-color: #2e2f35;
	}

	.socials {
		background-color: #2e2f35;
	}

	.icons {
		background-color: #2e2f35;
	}
}